body {
    outline: 10px solid black;
    /* background-color: powderblue; */
    background-image: url('../style/Images/backgroundImage.jpeg');
    margin: 50px;
    padding: 80px;
    border-radius: 25px;
}

header {
    outline: 5px solid black;
    text-align: center;
    padding: 30px;
    margin: 50px;
    background-image: linear-gradient(white, pink);
    border-radius: 25px;
    text-shadow: 2px 2px 5px red;
}

.allButton {
    outline: 5px solid black;
    margin: 50px;
    text-align: center;
    background-image: linear-gradient(white, pink);
    border-radius: 25px;
}

.total {
    outline: 5px solid black;
    margin: 50px;
    padding: 30px;
    background-image: linear-gradient(white, pink);
    border-radius: 25px;
}

.history {
    outline: 5px solid black;
    margin: 50px;
    padding: 30px;
    background-image: linear-gradient(white, pink);
    border-radius: 25px;
}

input {
    border-radius: 5rem;
    height: 3rem;
    width: 8rem;
    font-size: 1.5rem;
    margin: .5rem;
    text-align: center;
    border: 3px solid black;
    background-color: azure;
    cursor: pointer;
    box-shadow: 0 9px black;
}

input:hover {background-color: palevioletred}

input:active {
  background-color: pink;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


button {
    border-radius: 5rem;
    height: 3rem;
    width: 8rem;
    font-size: 1.5rem;
    margin: .5rem;
    text-align: center;
    border: 3px solid black;
    background-color: azure;
    cursor: pointer;
    box-shadow: 0 9px black;
}

button:hover {background-color: palevioletred}

button:active {
  background-color: pink;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
